.android-compact-1,
.android-compact-1 * {
  box-sizing: border-box;
}
.android-compact-1 {
  background: rgba(255, 189, 213, 0.85);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 917px;
  position: relative;
  overflow: hidden;
}
.a-special-day-to-celebrate-you {
  color: #000000;
  text-align: center;
  font-family: "InstrumentSerif-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: calc(50% - 20.5px);
  width: 229px;
  height: 81px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-2 {
  flex-shrink: 0;
  width: 102px;
  height: 94px;
  position: absolute;
  right: 23px;
  top: calc(50% - 59.5px);
  object-fit: cover;
  aspect-ratio: 102/94;
}
.image-9 {
  flex-shrink: 0;
  width: 113.63px;
  height: 26.01%;
  position: absolute;
  left: 38.79px;
  bottom: 39.85%;
  top: 34.14%;
  transform-origin: 0 0;
  transform: rotate(10.938deg) scale(1, 1);
  object-fit: cover;
  aspect-ratio: 113.63/238.55;
}
.image-17 {
  flex-shrink: 0;
  width: 445.68px;
  height: 190px;
  position: absolute;
  left: calc(50% - 231.5px);
  top: -58px;
  object-fit: cover;
  aspect-ratio: 445.68/190;
}
.image-10 {
  flex-shrink: 0;
  width: 134.82px;
  height: 258px;
  position: absolute;
  right: 63.18px;
  top: 89.68px;
  transform-origin: 0 0;
  transform: rotate(-10.55deg) scale(1, 1);
  object-fit: cover;
  aspect-ratio: 134.82/258;
}
.image-3 {
  flex-shrink: 0;
  width: 67.28px;
  height: 62px;
  position: absolute;
  left: 91px;
  top: 569px;
  object-fit: cover;
  aspect-ratio: 67.28/62;
}
.image-4 {
  flex-shrink: 0;
  width: 102px;
  height: 94px;
  position: absolute;
  left: 46px;
  top: 244.28px;
  transform-origin: 0 0;
  transform: rotate(-23.26deg) scale(1, 1);
  object-fit: cover;
  aspect-ratio: 102/94;
}
.group-1 {
  flex-shrink: 0;
  width: 641.77px;
  height: 416.91px;
  position: static;
}
.image-5 {
  width: 307.44px;
  height: 338.72px;
  position: absolute;
  left: 261.26px;
  bottom: 25.28px;
  transform-origin: 0 0;
  transform: rotate(17.927deg) scale(1, 1);
  object-fit: cover;
  aspect-ratio: 307.44/338.72;
}
.image-6 {
  width: 408.55px;
  height: 230px;
  position: absolute;
  left: -88px;
  bottom: 0px;
  object-fit: cover;
  aspect-ratio: 408.55/230;
}
.image-7 {
  width: 154px;
  height: 154px;
  position: absolute;
  left: 252px;
  bottom: -35px;
  object-fit: cover;
  aspect-ratio: 1;
}
.ellipse-1 {
  background: rgba(255, 128, 174, 0.76);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  position: absolute;
  right: 15px;
  bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.ellipse-1:hover {
  background: rgba(255, 100, 150, 0.9); /* efek hover (opsional) */
  cursor: pointer;
}
/* .div {
  color: #ffffff;
  font-family: "InstrumentSerif-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1;
} */
.div {
  color: #ffffff;
  text-align: center;
  font-family: "InstrumentSerif-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  right: 29px;
  bottom: 36px;
  width: 17px;
  height: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
