.android-compact-3,
.android-compact-3 * {
  box-sizing: border-box;
}
.android-compact-3 {
  background: rgba(255, 189, 213, 0.85);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 917px;
  position: relative;
  overflow: hidden;
}
.image-17 {
  flex-shrink: 0;
  width: 445.68px;
  height: 190px;
  position: absolute;
  left: -17px;
  top: -58px;
  object-fit: cover;
  aspect-ratio: 445.68/190;
}
.happy-birthday-to-youu {
  color: #000000;
  text-align: center;
  font-family: "InstrumentSerif-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-13 {
  flex-shrink: 0;
  width: 72px;
  height: 72px;
  position: absolute;
  left: 0px;
  top: 207px;
  object-fit: cover;
  aspect-ratio: 1;
}
.image-12 {
  flex-shrink: 0;
  width: 72px;
  height: 72px;
  position: absolute;
  left: 340px;
  top: 207px;
  object-fit: cover;
  aspect-ratio: 1;
}
.image-33 {
  flex-shrink: 0;
  width: 210px;
  height: 280px;
  position: absolute;
  left: 190px;
  top: 331px;
  object-fit: cover;
  aspect-ratio: 210/280;
}
.image-34 {
  flex-shrink: 0;
  width: 210px;
  height: 280px;
  position: absolute;
  left: 21px;
  top: 388px;
  object-fit: cover;
  aspect-ratio: 210/280;
}
.image-35 {
  flex-shrink: 0;
  width: 232.78px;
  height: 414px;
  position: absolute;
  left: 167px;
  top: 459px;
  object-fit: cover;
  aspect-ratio: 232.78/414;
}
.image-36 {
  flex-shrink: 0;
  width: 203px;
  height: 362px;
  position: absolute;
  left: 24px;
  top: 528px;
  object-fit: cover;
  aspect-ratio: 203/362;
}
.hopefully-in-these-20-years-you-can-be-even-greater-sayangkuuu-i-believe-you-are-a-good-man-keep-up-the-spirit-i-am-always-by-your-side {
  color: #000000;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: calc(50% - 199.5px);
  width: 365px;
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-37 {
  flex-shrink: 0;
  width: 54.39px;
  height: 29.72px;
  position: absolute;
  left: 322.85px;
  top: 321px;
  transform-origin: 0 0;
  transform: rotate(32.229deg) scale(1, 1);
  object-fit: cover;
  aspect-ratio: 54.39/29.72;
}
